In [1]:
import pandas as pd
df_stata_path = "~/Desktop/CVD risk prediction Notebook/Datasets/Lab based Datasets/US NHANES_CVD_dataset/cvd-rep-data02.dta"

In [2]:
df1 = pd.read_stata(df_stata_path)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52195 entries, 0 to 52194
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   seqn           52195 non-null  float64
 1   year           52195 non-null  category
 2   age            52195 non-null  float64
 3   agec           52195 non-null  category
 4   gender         52195 non-null  category
 5   edu            27518 non-null  category
 6   income         48145 non-null  category
 7   race           52195 non-null  category
 8   bmic           44919 non-null  category
 9   systolic       37578 non-null  float32
 10  chol_hdl       38653 non-null  float64
 11  chol_total     38654 non-null  float64
 12  alc            52195 non-null  category
 13  meds           52195 non-null  category
 14  diabetes       49678 non-null  category
 15  drugs          17236 non-null  category
 16  famhx          26710 non-null  category
 17  priorcvd       27429 non-null  category
 18  smoke          27549 non-null  category
 19  sexo           7409 non-null   category
 20  smm            7409 non-null   category
 21  partners_life  5563 non-null   float64
 22  partners_yr    3070 non-null   float64
 23  ridreth1       52195 non-null  float64
 24  dmdeduc2       27518 non-null  float64
 25  indhhinc       29722 non-null  float64
 26  wtint2yr       52195 non-null  float64
 27  wtmec2yr       52195 non-null  float64
 28  sdmvpsu        52195 non-null  float64
 29  sdmvstra       52195 non-null  float64
 30  alc_pastyear   23836 non-null  float64
 31  alq110         7168 non-null   float64
 32  alq120q        20382 non-null  float64
 33  alq120u        15465 non-null  float64
 34  alq130         15484 non-null  float64
 35  alq140q        15463 non-null  float64
 36  alq140u        5915 non-null   float64
 37  alq150         20408 non-null  float64
 38  bpq040a        9458 non-null   float64
 39  bmxwt          48994 non-null  float64
 40  bmxht          45308 non-null  float64
 41  bmxbmi         44919 non-null  float64
 42  diq010         49678 non-null  float64
 43  duq100         5680 non-null   float64
 44  mcq160b        27477 non-null  float64
 45  mcq160c        27432 non-null  float64
 46  mcq160d        27475 non-null  float64
 47  mcq160e        27525 non-null  float64
 48  mcq160f        27531 non-null  float64
 49  mcq250g        10059 non-null  float64
 50  sxq292         7571 non-null   float64
 51  smq020         27552 non-null  float64
 52  smq040         13106 non-null  float64
 53  systolic1      34744 non-null  float64
 54  systolic2      33373 non-null  float64
 55  systolic3      32933 non-null  float64
 56  systolic4      4981 non-null   float64
 57  whd010         31608 non-null  float64
 58  whd020         31784 non-null  float64
 59  duq240         11556 non-null  float64
 60  mcq300a        16651 non-null  float64
 61  indhhin2       20522 non-null  float64
 62  mec10yr        52195 non-null  float32
 63  sms            7409 non-null   category
 64  smmi           7409 non-null   category
 65  cbmi           44919 non-null  float32
 66  cbmic          44919 non-null  category
 67  srbmi          31233 non-null  float32
 68  srbmic         31233 non-null  category
 69  dopw           20382 non-null  float32
 70  dpw            15460 non-null  float32
 71  points_age     52195 non-null  float32
 72  points_hdl     38653 non-null  float32
 73  points_chol    38654 non-null  float32
 74  points_sys     37578 non-null  float32
 75  points_smoke   27549 non-null  float32
 76  points_diab    49678 non-null  float32
 77  points_sum     23529 non-null  float32
 78  vascage        23529 non-null  float32
 79  agerat         23529 non-null  float32
dtypes: category(20), float32(15), float64(45)
memory usage: 22.3 MB

In [4]:
df1.drop(df1.columns.difference(['diabetes','age','systolic', 'gender','chol_total', 'smoke', 'priorcvd','agerat','mec10yr']), 1, inplace=True)

C:\Users\Mo Darwesh\AppData\Local\Temp\ipykernel_11924\335839066.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1.drop(df1.columns.difference(['diabetes','age','systolic', 'gender','chol_total', 'smoke', 'priorcvd','agerat','mec10yr']), 1, inplace=True)

In [5]:
df1.dropna(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23414 entries, 0 to 50248
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         23414 non-null  float64
 1   gender      23414 non-null  category
 2   systolic    23414 non-null  float32
 3   chol_total  23414 non-null  float64
 4   diabetes    23414 non-null  category
 5   priorcvd    23414 non-null  category
 6   smoke       23414 non-null  category
 7   mec10yr     23414 non-null  float32
 8   agerat      23414 non-null  float32
dtypes: category(4), float32(3), float64(2)
memory usage: 915.1 KB

In [6]:
df1.tail(10)

,age,gender,systolic,chol_total,diabetes,priorcvd,smoke,mec10yr,agerat
50232,48.0,Female,102.000000,170.0,No,No,Former smoker,17617.509766,0.750000
50233,33.0,Female,98.666664,153.0,No,No,Non-smoker,3785.206299,1.000000
50235,43.0,Male,139.333328,528.0,No,No,Smoker,3786.717041,1.767442
50241,52.0,Male,106.000000,210.0,No,No,Non-smoker,2532.841064,1.038462
50242,24.0,Male,126.000000,155.0,No,No,Non-smoker,4006.472656,1.000000
50244,32.0,Male,115.333336,198.0,No,No,Non-smoker,3629.499268,0.937500
50245,48.0,Female,110.666664,246.0,No,No,Smoker,4216.321777,1.062500
50246,27.0,Male,111.333336,121.0,No,No,Smoker,4715.072266,1.185185
50247,75.0,Male,118.000000,176.0,No,Yes,Non-smoker,2591.604004,0.960000
50248,63.0,Female,122.666664,181.0,Yes,No,Non-smoker,1288.734741,1.269841

In [ ]:
df2_stata_path = "~/Desktop/CVD risk prediction Notebook/Datasets/Lab based Datasets/45 low-income and middle-income countries/cvd-rep-data01.dta"

In [ ]:
df2 = pd.read_stata(df2_stata_path)

In [ ]:
df2.info()

In [ ]:
df2.drop(df2.columns.difference(['diabetes','age','systolic', 'gender','chol_total', 'smoke', 'priorcvd']), 1, inplace=True)

In [ ]:
df2.info()

In [ ]:
df1.to_csv('NHANES_CVD_dataset.csv')